
<div class="container">

  <h2 class="text-center title">Photo Gallery</h2>
  <p class="lead text-center">
    Here are a few photos from our many outings...
  </p>
  <div class="row">
    <div class="col-sm-4 col-sm-offset-2">
      <div class="thumbnail">
        <%= image_tag("images/gallery/briland.jpg", alt: "Harbor Island") %>
        <div class="caption">
          <% link_to "http://www.rockhousebahamas.com", target: "_blank" do %>
            <h4>Rockhouse Restaurant</h4>
          <% end %>
          <% link_to "https://www.google.com/maps/place/Rock+House+Restaurant/@25.49913,-76.63672,17z/data=!3m1!4b1!4m2!3m1!1s0x8925375e8b79d817:0xff248a8dbdb53bf9", target: "_blank" do %>
            <h6>Dunmore Town, Harbour Island, Bahamas</h6>
          <% end %>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque doloribus enim vitae nam cupiditate eius at explicabo eaque facere iste.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <%= image_tag("images/gallery/double-date.jpg", alt: "Double Date Night") %>
        <div class="caption">
          <h4>(Double) Date Night</h4>
          <h6>Smyrna Food Truck Tuesdays</h6>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque doloribus enim vitae nam cupiditate eius at explicabo eaque facere iste.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 col-sm-offset-2">
      <div class="thumbnail">
        <%= image_tag("images/gallery/docks.jpg", alt: "Paradise Island docks") %>
        <div class="caption">
          <h4>Paradise Island Ferry Terminal</h4>
          <h6>Paradise Island, New Providence, The Bahamas</h6>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque doloribus enim vitae nam cupiditate eius at explicabo eaque facere iste.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <%= image_tag("images/gallery/hawks.jpg", alt: "Hawks/Pacers playoff game") %>
        <div class="caption">
          <h4>Hawks/Pacers Playoff Game</h4>
          <h6>Phillips Arena, Atlanta, GA</h6>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque doloribus enim vitae nam cupiditate eius at explicabo eaque facere iste.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 col-sm-offset-2">
      <div class="thumbnail">
        <%= image_tag("images/gallery/niagra.jpg", alt: "Niagra Falls") %>
        <div class="caption">
          <h4>Queen Victoria Park</h4>
          <h6>Niagra Falls, Ontario, Canada</h6>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque doloribus enim vitae nam cupiditate eius at explicabo eaque facere iste.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <%= image_tag("images/gallery/pink-sand.jpg", alt: "Pink Sand Beaches, Harbor Island") %>
        <div class="caption">
          <h4>Pink Sands Beach</h4>
          <h6>Harbour Island, Bahamas</h6>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque doloribus enim vitae nam cupiditate eius at explicabo eaque facere iste.</p>
        </div>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-sm-4 col-sm-offset-2">
      <div class="thumbnail">
        <%= image_tag("images/gallery/toronto.jpg", alt: "Toronto Wedding") %>
        <div class="caption">
          <h4>Cousin's Wedding</h4>
          <h6>Toronto, Ontario, Canada</h6>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque doloribus enim vitae nam cupiditate eius at explicabo eaque facere iste.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <%= image_tag("images/gallery/zoo-atlanta.jpg", alt: "Zoo Atlanta") %>
        <div class="caption">
          <h4>Zoo Atlanta</h4>
          <h6>Atlanta, GA</h6>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque doloribus enim vitae nam cupiditate eius at explicabo eaque facere iste.</p>
        </div>
      </div>
    </div>

  </div>

</div>
