
<div class="container">

  <h2 class="text-center title">Photo Gallery</h2>
  <p class="lead text-center">
    Here are a few photos from our many outings...
  </p>
  <div class="row">
    <div class="col-sm-4 col-sm-offset-2">
      <div class="thumbnail">
        <%= image_tag("images/gallery/briland.jpg", alt: "Harbor Island") %>
        <div class="caption">
          <% link_to "http://www.rockhousebahamas.com", target: "_blank" do %>
            <h4>Rockhouse Restaurant</h4>
          <% end %>
          <% link_to "https://www.google.com/maps/place/Rock+House+Restaurant/@25.49913,-76.63672,17z/", target: "_blank" do %>
            <h6>Dunmore Town, Harbour Island, Bahamas</h6>
          <% end %>
          <p>During our day excursion to Harbor Island, we had the pleasure of eating lunch outside at the Rockhouse Restaurant. It was a very pleasant experience with baby chicks running around begging for food. It was cute hearing their chirps for hunger.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <%= image_tag("images/gallery/double-date.jpg", alt: "Double Date Night") %>
        <div class="caption">
          <% link_to "https://www.google.com/maps/place/3180+Atlanta+Rd,+Smyrna,+GA+30080/@33.8753259,-84.5075277,17z/", target: "_blank" do %>
            <h4>(Double) Date Night</h4>
          <% end %>
          <% link_to "http://foodtrucksin.com/events/smyrna-food-truck-tuesdays", target: "_blank" do %>
            <h6>Smyrna Food Truck Tuesdays</h6>
          <% end %>
          <p>Our date night as traditionally been on tuesdays and this week, we decided to double with our cousins. The had been to Food Truck Tuesday's before, but it was our first time. The food selection was vast.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 col-sm-offset-2">
      <div class="thumbnail">
        <%= image_tag("images/gallery/docks.jpg", alt: "Paradise Island docks") %>
        <div class="caption">
          <% link_to "http://bahamastourcenter.com/paradise-island-ferry-terminal/", target: "_blank" do %>
            <h4>Paradise Island Ferry Terminal</h4>
          <% end %>
          <% link_to "https://www.google.com/maps/place/Paradise+Island+Ferry+Terminal,+Paradise+Beach+Dr,+The+Bahamas/@25.0795816,-77.3214689,17z/", target: "_blank" do %>
            <h6>Paradise Island, New Providence, The Bahamas</h6>
          <% end %>
          <p>If you want to go from Nassau to one of the family islands and you don't have your own private boat, chances are you will wind up at the Ferry Terminal. It is a great place to meet people and take in the fresh sea air as you wait for your ride.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <%= image_tag("images/gallery/hawks.jpg", alt: "Hawks/Pacers playoff game") %>
        <div class="caption">
          <% link_to "http://www.nba.com/hawks/", target: "_blank" do %>
            <h4>Hawks/Pacers Playoff Game</h4>
          <% end %>
          <% link_to "https://www.google.com/maps/place/Philips+Arena/@33.757289,-84.396324,17z/", target: "_blank" do %>
            <h6>Phillips Arena, Atlanta, GA</h6>
          <% end %>
          <p>The Hawks made the playoffs in 2014 and we ere able to get sme tickets for one of their games against the Pacers. Unfortunately they lost, but it was a great experience for us both.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 col-sm-offset-2">
      <div class="thumbnail">
        <%= image_tag("images/gallery/niagra.jpg", alt: "Niagra Falls") %>
        <div class="caption">
          <% link_to "http://www.niagaraparks.com/niagara-falls-attractions/queen-victoria-park.html", target: "_blank" do %>
            <h4>Queen Victoria Park</h4>
          <% end %>
          <% link_to "https://www.google.com/maps/place/Queen+Victoria+Park/@43.086141,-79.077481,17z/", target: "_blank" do %>
            <h6>Niagra Falls, Ontario, Canada</h6>
          <% end %>
          <p>During or trip to Canada for a wedding, we stopped at Niagra Falls so that we could take in the scenery and take some pics. I, for one, hadn't been to Niagra in at LEAST 15 years and was more than excited to see if it was as big as I remember as a child.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <%= image_tag("images/gallery/pink-sand.jpg", alt: "Pink Sand Beaches, Harbor Island") %>
        <div class="caption">
          <% link_to "http://www.harbourislandguide.com/pink-sands.htm", target: "_blank" do %>
            <h4>Pink Sands Beach</h4>
          <% end %>
          <% link_to "https://www.google.com/maps/place/Harbor+Island,+The+Bahamas/@25.4995296,-76.6343201,14z/", target: "_blank" do %>
            <h6>Harbour Island, Bahamas</h6>
          <% end %>
          <p>Do you want to see some of the prettiest sand in the world? Go to Harbour Island. They have natural pink sand beaches due to the coral that has broken up and washed ashore. It may not look that pink in the pictures, but if you don't believe use, we have some that you can see in a bottle that we brought back. Best honeymoon ever.</p>
        </div>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-sm-4 col-sm-offset-2">
      <div class="thumbnail">
        <%= image_tag("images/gallery/toronto.jpg", alt: "Toronto Wedding") %>
        <div class="caption">
          <% link_to "https://www.youtube.com/watch?v=ZrDvj9kpb28", target: "_blank" do %>
            <h4>Cousin's Wedding</h4>
          <% end %>
          <% link_to "https://www.google.com/maps/place/Toronto,+ON,+Canada/@43.7182713,-79.3777061,11z/", target: "_blank" do %>
            <h6>Toronto, Ontario, Canada</h6>
          <% end %>
          <p>The final destination of our road trip. We had the honor of being invited to our cousins' wedding. Although we knew the journey would be long, we endured it and it was well worth the long drive.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <%= image_tag("images/gallery/zoo-atlanta.jpg", alt: "Zoo Atlanta") %>
        <div class="caption">
          <% link_to "http://www.zooatlanta.org/", target: "_blank" do %>
            <h4>Zoo Atlanta</h4>
          <% end %>
          <% link_to "https://www.google.com/maps/place/Zoo+Atlanta/@33.732449,-84.37087,17z/", target: "_blank" do %>
            <h6>Atlanta, GA</h6>
          <% end %>
          <p>Sometimes date night occurs in the day time. This was one of those times. As long as we've lived in Atlanta, neither of us had been to the zoo. It was an amazing experience.  Next stop, Georgia Aquarium.</p>
        </div>
      </div>
    </div>

  </div>

</div>
