
<nav class="mainmenu">
  <%= partial 'layouts/nav' %>
</nav>

<!-- Main (Home) section -->
<section class="section" id="head">
  <%= partial 'home' %>
</section>

<!-- Second (About) section -->
<section class="section" id="about">
  <%= partial 'about' %>
</section>

<!-- Third (Works) section -->
<section class="section" id="gallery">
  <%= partial 'gallery' %>
</section>

<!-- Fourth (Contact) section -->
<section class="section" id="contact">
  <%= partial 'contact' %>
</section>
